<nav class="navbar navbar-light bg-light justify-content-center">
  <a href="/route/logout">Logout</a>
</nav>
<div class="container">
  <div class="row">
    {{#each sumsung}}
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card m-4" style="width: 21rem;">
          <img
            src={{this.image}}
            class="card-img-top"
            style="height:275px;"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.para}}</p>
            <a href="#" class="btn btn-primary">read more</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>